.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  transform: rotate(45deg);
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  transition: .1s ease;

  &:hover {
    color: rgba(#000000, .8)
  }

  &:active {
    color: rgba(#000000, .5)
  }
}