.container {
  max-width: 960px;
  margin: 0 auto;
  // background-color: rgb(212, 212, 212);
  animation: appereance .5s;
  padding: 0 10px;
}

@keyframes appereance {
  0% {
    transform: translateY(1000px);
    opacity: 0;
    z-index: -1;
  }

  100% {}
}