.container {
  width: 260px;
  height: 75px;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #7a6efe;


  h4 {
    text-align: center;
    color: #fff;
    margin: 0;
    margin-bottom: 10px;
  }

  input {
    color: #fff;
  }

}