.container {
  background-color: rgb(214, 214, 214);
  border-radius: 4px;
  margin: 0 0 100px 5px;
  margin-bottom: 10px;
  list-style-type: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  margin: 0;
  padding: 0;
  // font-size: 20px;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.add-btn {
  margin: 0;
  padding: 0;
  // font-size: 16px;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: rgba(#000, .8);
  }

  &:active {
    color: rgba(#000, .5);
  }
}

.answer-list {
  margin-bottom: 10px;
  list-style-type: disc;
  animation: appearance-list .4s;

}

.add-answer {
  margin: 0 0 15px 0;
  text-align: center;
  cursor: pointer;
  // animation: appearance .6s;

  &:hover {
    color: rgba(#000, .8);
  }

  &:active {
    color: rgba(#000, .5);
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
}

@keyframes appearance-list {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    z-index: -1;
  }
}