.container {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  p{
    cursor: pointer;
    
    &:hover{
      color: rgba(#000000, .7);
    }
    
    &:active{
      color: rgba(#000000, .5);
    }
  }
}

.line {
  padding: 0;
  margin: 0px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-bottom: 1px solid rgb(238, 238, 238);
}