.container {
  display: flex;
  align-items: center;
  padding: .08em;
  width: 100%;
  cursor: pointer;
  transition: background-color .1s;

  &:hover {
    background-color: rgb(233, 232, 230);
    border-radius: 5px;
  }

  &:active {
    background-color: rgb(243, 242, 239);
    border-radius: 5px;
  }

  input[type="checkbox"]:checked,
  input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  input[type="checkbox"]:checked+label,
  input[type="checkbox"]:not(:checked)+label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked+label:before,
  input[type="checkbox"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: -12px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
  }

  input[type="checkbox"]:checked+label:before,
  input[type="checkbox"]:not(:checked)+label:before {
    border-radius: 2px;
  }


  input[type="checkbox"]:checked+label:after,
  input[type="checkbox"]:not(:checked)+label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  input[type="checkbox"]:checked+label:after,
  input[type="checkbox"]:not(:checked)+label:after {
    left: 3px;
    top: -8px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #6f52ee;
    border-bottom: 4px solid #6f52ee;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  input[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
  }

  input[type="checkbox"]:checked+label:after {
    opacity: 1;
  }
}

.answer {
  margin-left: .5em;
}

.checkbox {
  margin-left: .3em;
  pointer-events: none;

}