.container {
  // background-color: rgb(214, 214, 214);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  // margin-bottom: 15px;
}

.name {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.add-btn {
  margin: 0;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: rgba(#000, .8);
  }

  &:active {
    color: rgba(#000, .5);
  }
}

.question-list {
  margin: 0 0 20px 0;
}

.add-question {
  display: flex;
  align-items: center;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: rotateY(-180deg);
  }
}