

.container{
  width: 100%;
}

.input {
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  background-color: rgba(29, 22, 22, 0.1);
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
}
