.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appearance .8s forwards;
}

.window {
  position: relative;
  
  width: 600px;
  height: 600px;
  background-color: white;
  border-radius: 8px;
  padding: 5px 20px;
  overflow-y: auto;

}

.title {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.close {
  transform: rotate(45deg);
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  transition: .1s ease;

  &:hover {
    color: rgba(#000000, .8)
  }

  &:active {
    color: rgba(#000000, .5)
  }
}

.upload{
  color:#6f52ee;
}

@keyframes appearance {
  0% {
    transform: translateY(1000px);
  }

  60% {
    transform: translateY(0);
    backdrop-filter: none;
    background: none;
  }

  100% {
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
  }
}